@import 'variables/global';
@import 'reset';
@import './themes/light';
@import 'themes/dark';

.app {
  font: var(--font-m);
  color: var(--text-color);
  background: var(--bg-color);
  min-height: 100vh;
  -o-transition:
    color 0.3s ease-in-out,
    background 0.3s ease-in-out;
  -webkit-transition:
    color 0.3s ease-in-out,
    background 0.3s ease-in-out;
  -moz-transition:
    color 0.3s ease-in-out,
    background 0.3s ease-in-out;
  -ms-transition:
    color 0.3s ease-in-out,
    background 0.3s ease-in-out;
  transition:
    color 0.3s ease-in-out,
    background 0.3s ease-in-out;
  .border {
    border: 1px solid var(--border-color);
  }
}

.content-page {
  display: flex;
}

.page-wrapper {
  padding: var(--content-padding);
  flex: 1;
}
