@import 'variables/global';
@import 'reset';
@import 'themes/light';
@import 'themes/dark';


.app {
  // background: linear-gradient(45deg, var(--bg-color-start), var(--bg-color-middle), var(--bg-color-end));
  background: var(--bg-color);
  min-height: 100vh;
  transition: background .3s  ;
  -webkit-transition: background .3s  ;
  -moz-transition: background .3s  ;
  -ms-transition: background .3s  ;
  -o-transition: background .3s  ;
  font: var(--font-m);
  color: var(--text-color);
}

.content-page {
  display: flex;
}

.page-wrapper {
  padding: var(--content-padding);
  flex: 1;
}
