.title {
    font: var(--font-l);
    color: var(--text-color);
}

.text {
    font: var(--font-m);
    color: var(--text-color);
}

.error {
    .title {
        text-decoration: underline var(--error-color);
        color: var(--error-color);
    }

    .text {
        text-decoration: underline var(--error-color);
        color: var(--error-color);
    }
}