.clear {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
}

.outline {
    border: 2px solid #007bff;
    padding: 8px;
    border-radius: 5px;
}

.input {
    color: var(--inverted-text-color);
}