.app.dark {
  --bg-color: #121212;
  --inverted-bg-color: #f0f4f8;
  --primary-color: #0e1e3c;
  --inverted-primary-color: #f9ebea;
  --secondary-color: #13002f;
  --inverted-secondary-color: #e9ecef;
  --text-color: #f0f4f8;
  --inverted-text-color: #333333;
  --border-color: #f0f4f8;
  --inverted-border-color: #d6dbdf;
  --link-color: #ffd700;
  --inverted-link-color: #c0392b;
  --link-hover-color: #ffa500;
  --inverted-link-hover-color: #f39c12;
}
