.app_dark_theme {
  --bg-color-start: #00ced1;
  --bg-color-middle: #20b2aa;
  --bg-color-end: #48d1cc;
  --bg-color: #121212;
  --inverted-bg-color: #f0f4f8;
  --primary-color: #0e1e3c;
  --inverted-primary-color: #f9ebea;
  --secondary-color: #13002f;
  --inverted-secondary-color: #e9ecef;
  --text-color: #f0f4f8;
  --inverted-text-color: #333333;
  --border-color: #f0f4f8;
  --inverted-border-color: #d6dbdf;
  --link-color: #ffd700;
  --inverted-link-color: #c0392b;
  --link-hover-color: #ffa500;
  --error-color: #fc4b4b;
  --inverted-link-hover-color: #f39c12;
  --overlay-color: rgba(0, 0, 0, 0.5);
  --overlay-closed-color: rgba(0, 0, 0, 0.1);
  //   -webkit-transition: all .3s;
  // -moz-transition: all .3s;
  // -ms-transition: all .3s;
  // -o-transition: all .3s;
  // transition: all .3s;
}
