.Navbar {
  padding: var(--content-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--navbar-height);
  width: 100%;
  background: var(--inverted-bg-color);
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  color: var(--inverted-text-color);
}

.link {
  margin: 0 12px;
}
